<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648220450894-tk4vd79dm0usfsjd7apsnllf8269k96g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648220450894-tk4vd79dm0usfsjd7apsnllf8269k96g</string>
	<key>API_KEY</key>
	<string>AIzaSyDAZqBByCjV2R0tv-N2x_GVqsMjxrhN-NI</string>
	<key>GCM_SENDER_ID</key>
	<string>648220450894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ivansoriano.Prueba-Upax</string>
	<key>PROJECT_ID</key>
	<string>upax-prueba-d86e6</string>
	<key>STORAGE_BUCKET</key>
	<string>upax-prueba-d86e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648220450894:ios:bdc62fe6858c120ce2a31f</string>
</dict>
</plist>